.pluginPanelHeader {
    text-align: center;
    margin: 0;
    padding: 16px; /* Adjust padding as needed */
    font-size: 1.5em; /* Optional: Adjust font size as needed */
    font-weight: bold; /* Optional: Adjust font weight as needed */
  }
  