body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.rootElem {
  min-height: 100vh;
  display: flex;
  color: #e40000;
  background: rgb(23, 22, 38);
}

.left-column {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex: 1;
  height: 100vh; /* Ensure it takes full viewport height, adjust as needed */
  padding-left: 10px;
}

.right-column {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;

}

.canvas-container, .tilemap-container {
  /* You can adjust max-width and margin as needed to create a gap and ensure proper sizing */
  max-width: calc(50% - 10px); /* Subtract twice the desired gap size to account for both sides */
  margin: 0 5px; /* This will create a 10px gap total between them */
}

.canvas {
  max-width: 90%;
  border: 1px solid aqua;
  max-height: 80vh;
  border-radius: 3px;
}

.tilemap {
  width: 100%;
  border: 1px solid aqua;
  max-height: 80vh;
  border-radius: 3px;
}

.plugin-panel {

  max-height: 80vh;
  border: 1px solid red; 
  border-radius: 8px; 
  background-color: #110412;
  max-width: 90vh; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  overflow: auto; 
}


